<div>
  <form>
    <label>Name:</label>
    <input name="fname" type="text" [(ngModel)]="name" #ctrl="ngModel">
    <label for="age">Age:</label>
    <input name="age" type="text" [(ngModel)]="age">
    <label for="occ">Occupation:</label>
    <input name="occ" type="text" [(ngModel)]="occ">
    <label for="address">Address:</label>
    <input name="address" type="text" [(ngModel)]="address">
    <input style="margin-left: 10px;" type="submit" value="Print" (click)="print()">
  </form> 
 </div>

 <div id="letter" *ngIf="showLetter" style="margin-top: 50px;">
 <header> 
    <address class="return-address">
      नाव: {{this.name}}<br/>
      व्यवसाय: {{occ}} <br/>
      वय: {{age}} <br/> 
      पत्ता: {{address}}   
    </address>
    <time datetime="2012-12-01">01 Dezember, 2012</time>
  </header>

  <h1>
    विषय:  Vertretung waehrend Reise
  </h1>

  <div class="content">
      <p>
        Sehr geehrte Frau Graf,
        <br class="salution" />

        Ich fliege nach Brasilien am 29. Dezember 2012 für 6 Wochen.
        Meine Nichte kann mich vertreten.  Sie arbeitet sehr gesissenhaft.
        Sie heisst Yasmin.  Ihre Nummer ist xxx.
      </p>
      <p>
        Sehr geehrte Frau Graf,
        <br class="salution" />

        Ich fliege nach Brasilien am 29. Dezember 2012 für 6 Wochen.
        Meine Nichte kann mich vertreten.  Sie arbeitet sehr gesissenhaft.
        Sie heisst Yasmin.  Ihre Nummer ist xxx.
      </p>
      <p>
        Sehr geehrte Frau Graf,
        <br class="salution" />

        Ich fliege nach Brasilien am 29. Dezember 2012 für 6 Wochen.
        Meine Nichte kann mich vertreten.  Sie arbeitet sehr gesissenhaft.
        Sie heisst Yasmin.  Ihre Nummer ist xxx.
      </p>
      <p>
        Sehr geehrte Frau Graf,
        <br class="salution" />

        Ich fliege nach Brasilien am 29. Dezember 2012 für 6 Wochen.
        Meine Nichte kann mich vertreten.  Sie arbeitet sehr gesissenhaft.
        Sie heisst Yasmin.  Ihre Nummer ist xxx.
      </p>
      <p>
        Sehr geehrte Frau Graf,
        <br class="salution" />

        Ich fliege nach Brasilien am 29. Dezember 2012 für 6 Wochen.
        Meine Nichte kann mich vertreten.  Sie arbeitet sehr gesissenhaft.
        Sie heisst Yasmin.  Ihre Nummer ist xxx.
      </p>
      <p>
        …
      </p>
    </div>

    <p class="adios">
      Freundliche Grüsse 
      <br class="greets" />
      Evanildo Lopes do Almeida <br/>
      Hauswart Binningerstrasse 19/23
    </p>


    <div class="solid">
      <div>
        <div class="grid-container">
        <div class="grid-item">
          Name: {{engName}} <br/>
          Age: {{engAge}} <br />
          Occupation: {{engOcc}} <br />
          Address: {{engAddress}} <br />

        </div>
        <div class="grid-item">
          <ngx-barcode6
          style="height: 100px;"
          [bc-format]="'MSI'"
          [bc-value]="'12345678901231'"
          [bc-display-value]="true"
        >
        </ngx-barcode6>
        </div>
      </div>
     <br />
      <br/>
      Ich fliege nach Brasilien am 29. Dezember 2012 für 6 Wochen.
        Meine Nichte kann mich vertreten.  Sie arbeitet sehr gesissenhaft.
        Sie heisst Yasmin.  Ihre Nummer ist xxx.Ich fliege nach Brasilien am 29. Dezember 2012 für 6 Wochen.
        Meine Nichte kann mich vertreten.  Sie arbeitet sehr gesissenhaft.
        Sie heisst Yasmin.  Ihre Nummer ist xxx.Ich fliege nach Brasilien am 29. Dezember 2012 für 6 Wochen.

        <div id="signaturename">
          Signature
        </div>
    </div>

  </div>
  </div>

  

  <button (click)="onPrint()"> Print</button>

<!-- </html> -->

